* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(202, 86%, 94%);
}

/*## Colors

### Primary

- Lime: hsl(61, 70%, 52%)
- Red: hsl(4, 69%, 50%)

### Neutral

- White: hsl(0, 0%, 100%)
- Slate 100: hsl(202, 86%, 94%)
- Slate 300: hsl(203, 41%, 72%)
- Slate 500: hsl(200, 26%, 54%)
- Slate 700: hsl(200, 24%, 40%)
- Slate 900: hsl(202, 55%, 16%)


-Weights: 500, 700

*/
@media(min-width: 320px) {
    .container {
        height: auto;
        background-color: hsl(0, 0%, 100%);
    }

    .container1__calculator {
        margin: 20px 15px;
        height: 60%;
        color: hsl(200, 24%, 40%);


    }

    .container1__calculator__title {
        padding-bottom: 10px;
    }

    .container1__calculator__title h2 {
        color: hsl(202, 55%, 16%);

    }

    .container1__calculator__title a {
        text-decoration: underline;
        list-style: none;
        color: hsl(200, 24%, 40%);
        font-size: 13.5px;
    }

    form {
        position: relative;
    }

    .container1__calculator label {
        font-size: 14.5px;

    }

    .container1__calculator input {
        width: 100%;
        margin: 7px 0px 12px 0px;
        padding: 5px 0px;
        border-radius: 3px;
        border-color: hsl(200, 24%, 40%);
        border-width: 1px;
        display: block;
    }

    #mAmoung {
        padding: 5px 0px 5px 29px;
        width: 91%;
    }

    .spanUsd {
        position: absolute;
        padding: 4.8px 8px;
        left: 1.3px;
        top: 29px;
        background-color: hsl(201deg 62.37% 91.63%);
    }

    .spanmTerm {
        position: absolute;
        padding: 4.8px 8px;
        background-color: hsl(201deg 62.37% 91.63%);
        color: hsl(200, 24%, 40%);
        top: 123px;
        right: -1px;
    }

    .spanPercent {
        position: absolute;
        padding: 4.8px 15px;
        right: 0;
        top: 217px;
        color: hsl(200, 24%, 40%);
        background-color: hsl(201deg 62.37% 91.63%);
    }

    #repayment,
    #InterestOnly {
        width: auto;

    }

    /*RADIO BUTTON*/

    input[type="radio"] {
        display: none;
    }

    .MortgageRate {
        width: 100%;
        position: relative;
        color: hsl(202, 55%, 16%);
        font-family: "Poppins", sans-serif;
        cursor: pointer;
        display: inline-flex;
        gap: 0.8em;
        border: 3px solid hsl(200, 24%, 40%);
        border-radius: 3px;
        border-width: 1px;
        padding: 8px 0px;
        align-items: center;
        margin: 10px 0px;
    }

    .MortgageRate:before {
        content: "";
        height: 1em;
        width: 1em;
        border: 1px solid hsl(200, 24%, 40%);
        border-radius: 50%;
        margin-left: 9px;
    }

    input[type="radio"]:checked+.MortgageRate:before {
        height: 1em;
        width: 1em;
        border: 2px solid hsl(61, 70%, 52%);
        background-color: hsl(61, 55%, 85%);
        color: hsl(202, 55%, 16%);
    }

    input[type="radio"]:checked+.MortgageRate {
        background-color: hsl(61, 55%, 85%);
        border-color: hsl(61, 70%, 52%);
        color: hsl(202, 55%, 16%);
    }

    .container1__calculator button {
        position: relative;
        background-color: hsl(61, 70%, 52%);
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 1024px;
        border: solid hsl(61, 70%, 52%);
        padding: 8px;
        align-items: center;
    }

    .container1__calculator button img {
        position: absolute;
        top: 7px;
        left: 30px;
        text-align: center;
        padding: 0px 8px 0px 0px;

    }

    /*----CONTAINER 2*/
    .container2__results {
        height: 40%;
        background-color: hsl(202, 55%, 16%);
    }


    .container2__results__img {
        background-image: url("../assets/images/illustration-empty.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 120px;
        padding: 15px 15px;
    }

    .container2__results__alineacion {
        margin: 20px 15px 0px;
        padding: 20px 0px;

    }

    .container2__results__alineacion h2 {
        text-align: center;
        font-size: 18px;
        padding: 10px 0px;
        color: hsl(0, 0%, 100%);
    }

    .container2__results__alineacion p {
        color: hsl(203, 41%, 72%);
        text-align: center;
        padding: 0px 21px;
        font-size: 11px;
        line-height: 1.4em;
    }
}

@media(min-width: 768px) {
    body {
        height: 100vh;
    }

    .container {
        display: flex;
        border-radius: 4%;
        width: 95%;
    }

    .container1__calculator {
        width: 50%;
    }

    .container1__calculator__title {
        display: flex;
        justify-content: space-between;
    }

    .container1__calculator__form_twoInputs {
        display: flex;
    }

    .container1__calculator__form_twoInput_one {
        width: 47.5%;
        margin-right: 5%;
    }

    .container1__calculator__form_twoInput_two {
        width: 47.5%;
    }

    .container1__calculator button {
        width: 80%;
    }

    .spanPercent {
        top: 123px;
    }

    .spanmTerm {
        right: 52.5%;
    }

    .container2__results {
        width: 50%;
        border-top-right-radius: 4%;
        border-bottom-right-radius: 4%;
        border-bottom-left-radius: 15%;
        height: auto;
    }
}

@media(min-width: 1024px) {
    .container {
        width: 95%;
    }

    .container1__calculator {
        margin: 20px 25px;
    }
    .container1__calculator input {
        padding: 5px 0px 5px 10px;
    }

    .spanmTerm {
        right: 50%;
    }
    .spanPercent {
        right: -11px;
    }
    #mAmoung {

        width: 95%;
    }

    .container1__calculator button {
        margin-bottom: 15px;
        width: 70%;
    }
    .radioButtons{
        margin-bottom: 20px;
    }
    .container2__results__alineacion{
        margin-top: 70px;
    }
    .container2__results_p { 
         padding-left: 15px;
         font-size: 14px;
    }
    .container_tarjeta{
        padding: 15px;
    }

    .container2__results__img {
          padding:20px 20px;
        
    }
    .container2__results__alineacion h2 {
        padding: 4px 0px 8px 0px;
    }
    .container2__results__alineacion p {
        font-size: 12px;
        padding: 4px 21px;
    }
}
@media(min-width:1280px){
    .spanmTerm {
        right: 50.7%;
    }
}

@media(min-width: 1440px) {
    .container {
        width: 60%;
        border-top-right-radius: 4%;
        border-bottom-left-radius: 4%;
    }
    .container1__calculator {
        margin: 20px 30px;
    }
    .spanmTerm {
        right: 50%;
    }
    .container2__results__img {
        padding:22px 21px;
      
  }
  .container2__results__alineacion p {
      font-size: 13px;
  }
}

@media(min-width: 1536px) {
    .container {
        width: 50%;
    }
    .spanmTerm {
        right: 49.4%;
    }
}